.menu {
  position: absolute;
  z-index: 10000;
  background: rgba(74, 117, 124, 0.1);
  border-radius: 8px;
  padding: 10px 20px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 700px;
  width: 400px;
  backdrop-filter: blur(10px);

  .header {
    font-size: x-large;
    font-style: normal;
    margin: 10px;
  }

  &-sub {
    background: rgba(74, 117, 124, 0.2);
    //border-bottom: 1px gray solid;
    padding: 6px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

    * {
      margin: 14px;
    }

    .graph-control-buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      padding: 14px;
      height: 200px;

      button {
        width: 100%;
        margin: 0;
      }
    }

    .visualization-control-buttons {
      width: 100%;
      padding: 14px;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      button {
        margin: 0;
      }
    }

    &:last-of-type {
      border: 0;
    }

    .algorithms-list, .slider {
      width: 100%;
      padding-left: 14px;
      padding-right: 14px;

      * {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .slider * {
      font-size: 1.1em;
    }
  }
}