.switch-round-wrapper {
  .switch-round {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0;

    input {
      opacity: 0;
      width: 0;
      height: 0;
      margin: 0;
    }

    input:checked + .slider {
      background-color: #57708e;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #57708e;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 34px;
      width: 60px;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 34px;
      margin: 0;

      &:before {
        border-radius: 50%;
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
    }
  }

  .text {
    font-size: smaller;
    vertical-align: middle;
    line-height: 34px;
    color: #000;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  }
}