* {
  box-sizing: border-box;
}

.app {
  font-size: x-large;
  font-family: 'Roboto', sans-serif;
  //display: flex;
  //flex-direction: row;
  //justify-content: space-between;
  //
  //// For side menu
  //padding-left: 400px;
}